{% extends "shared/_layout.html" %}
{% block main_content %}
<div>
    <div class="form-container">
        <form action="" method="POST" class="account-form">
            <h1>Register at PyPI</h1>

            <input name="name" type="text" placeholder=" Your name" class="form-control" value="{{ name if name is not none else ''}}" required>
            <input name="email" type="email" placeholder=" Your email address" class="form-control" value="{{ email if email is not none else ''}}" required>
            <input name="password" minlength="5" type="password" placeholder=" Password" class="form-control" value="{{ password if password is not none else ''}}" required>
            <input name="age" type="number" min="18" max="120" placeholder=" Your age in years" style="display: block; width: 100%" required>
            <button type="submit" class="btn btn-danger">Register</button>
            <!-- formnovalidate -->
            <div style="clear: both;"></div>
            {% if error -%}
            <div class="error-msg">{{ error }}</div>
            {% endif %}
        </form>
    </div>

    <link rel="stylesheet" href="/static/css/account.css">
</div>
{% endblock %}